/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  line-height: 1;
  font-weight: 300;

  background-image: url("/src/img/background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* LAYOUT */

.weather-app {
  position: relative;
  backdrop-filter: blur(80px);
  margin-block: 6rem;
  margin-inline: 46rem;
  padding: 3.2rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3.2rem;
  grid-auto-flow: row;
  grid-template-areas:
    "search-box search-box search-box"
    "main-box main-box main-box"
    "info-box info-box info-box";
}

.search-box {
  grid-area: search-box;
  display: flex;
  gap: 9.6rem;
  justify-content: space-around;
  align-items: center;
}

.main-box {
  grid-area: main-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.info-box {
  grid-area: info-box;
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.search-box--entry {
  width: 30rem;
  height: 3.2rem;
  padding-inline: 1rem;
  background-color: #d0d0d0;
  border: none;
  border-radius: 0.2rem;
}

.search-box--entry:focus {
  outline-color: #25b09b;
}

.search-box--submit {
  cursor: pointer;
}

.arrow-forward-circle-outline:active {
  color: #25b09b;
}

.arrow-forward-circle-outline {
  font-size: 4.8rem;
}

.main-box--temp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.main-box--display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-box--city {
  font-size: 2.4rem;
  font-weight: 600;
}

.main-box--icon {
  font-size: 9.6rem;
}

.partly-sunny-outline {
  font-size: 12.8rem;
}

.temp {
  font-size: 9.6rem;
}

.info-box--pressure,
.info-box--wind,
.info-box--humid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pressure-icon,
.wind-icon,
.humid-icon {
  font-size: 4.8rem;
}

.pressure-info,
.wind-info,
.humid-info {
  font-size: 3.2rem;
  font-weight: 600;
}

/* SPINNER */
/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  right: 50%;
  top: 50%;
  translate: 50% -50%;
  background-color: #000;

  z-index: 1000;
  width: 9.6rem;
  padding: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: rotation 1s infinite linear;
}

.error {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
